@import 'configs/_variables.scss';
@import 'configs/_fonts.scss';
@import '../../../bower_components/normalize.css/normalize.css';

body {
	font-size: 16px;
}
a {
	text-decoration: none;
	&:focus {
		outline: none;
	}
}