doctype html
html
	head
		title Holiday Confessions
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(property="og:image" content="http://true-confessions.alpharooms.brewingatbc.co.uk/images/main-share-image.jpg")
		meta(property="og:description" content= stories[0].generic_facebook_text)
		link(href="css/index.css" type="text/css" rel="stylesheet")
	body
		include ./components/_header.jade
		include ./components/_slider.jade
		include ./components/_footer.jade
		include ./components/_modal.jade
		
		script(type="text/javascript").
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '242145689463757',
					xfbml      : true,
					version    : 'v2.5'
				});
			};
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js")
		script(type="text/javascript" src="js/index.js")