.header {
	height: 6.75em;
	background-color: #fff;
	display: flex;
	justify-content: center;
	@media only screen and (max-width: 500px) {
		height: 5em;
	}
	&--wrapper {
		max-width: em($max-width);
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		@media only screen and (max-width: 1330px) {
			justify-content: flex-start;
			padding-left: 5%;
		}
		&--title {
			padding: 0;
			margin: 0;
			font-family: 'Amatic SC', cursive;
			font-size: 4.8em;
			color: #000000;
			@media only screen and (max-width: 800px) {
				font-size: 9vw;
			}
		}
		&--socials {
			position: absolute;
			right: 5%;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			flex-direction: row;
			@media only screen and (max-width: 500px) {
				font-size: 82%;
			}
			.socials--embed {
				background-color: #000;
				color: #fff;
				text-transform: uppercase;
				font-family: "Nevis";
				align-self: center;
				padding: .5em 1em;
				border-radius: 15px;
				cursor: pointer;
				margin-right: 1.5em;
				@media only screen and (max-width: 1024px) {
					display: none;
				}
			}
			.socials--item {
				width: em(43);
				height: em(46);
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				cursor: pointer;
				i { font-size: 1.5em; }
				&__facebook { background-color: #24458c; }
				&__twitter { background-color: #12a4e1; }
				&__google { background-color: #dd4a39; }
			}
		}
	}
}