.modal {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,.5);
	@media only screen and (max-width: 1024px) {
		display: none !important;
	}
	.modal--wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		&--content {
			width: 60%;
			background-color: #fff;
			border-radius: 10px;
			position: relative;
			padding: 40px 5%;
			box-sizing: border-box;
    		font-family: 'Droid Sans',sans-serif;
			textarea {
				resize: none;
				width: 100%;
				box-sizing: border-box;
				border: 3px solid #d9d9d9;
				padding: 5px 10px;
				text-align: center;
				height: 100px;
				&:focus { outline: none; }
			}
			p {
				font-weight: bold;
				padding: 0;
				margin: 0 0 15px 0;
			}
			.close {
				cursor: pointer;
				position: absolute;
				top: em(-20);
				right: em(20);
				display: flex;
				flex-direction: column;
				align-item: center;
				&--button {
					width: em(40);
					height: em(40);
					background-color: #000;
					color: #fff;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					i { font-size: 1.3em; }
				}
				&--text {
					font-family: "Nevis";
					text-transform: uppercase;
					font-size: em(11);
					padding-top: em(6);
				}
			}
		}
	}

}