header.header
	.header--wrapper
		a(href="/")
			h1.header--wrapper--title Holiday Confessions
		if n || n == 0
			.header--wrapper--story
				span.header--wrapper--story--subtitle Story ##{story.id}
				h1.header--wrapper--story--title #{story.short_title}
		.header--wrapper--socials(data-tweet= stories[0].generic_twitter_text)
			.socials--embed.js-open
				span Embed this
			if !n && n !== 0
				span.socials--item.socials--item__facebook.js-main-fb-share
					i.fa.fa-facebook
				span.socials--item.socials--item__twitter.js-main-twitter-share
					i.fa.fa-twitter